/* reset */
* {
    box-sizing: border-box; /* 1 */
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
ul,
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
