.expand-fade-enter-active,
.expand-fade-leave-active {
    transition: all 0.5s ease;
}
.expand-fade-enter-from,
.expand-fade-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.fade-enter-active,
.fade-leave-active {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
